<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sunyanxiong.ssm.mapper.UserMapper">
    <select id="findUserByIdMapper" parameterType="int" resultType="com.sunyanxiong.ssm.olddao.User">
        select * from user where user.id = #{id}
    </select>
</mapper>